.color-card {
  margin: 0px 10px;
  padding: 5px;
}

.color-card-headline {
  display: inline;
  padding: 2px 6px;
  background: black;
  color: white;
}

.color-card-highlight {
  display: inline;
  padding: 2px 6px;
  background: rgb(111, 13, 176);
  color: rgb(255, 255, 255);
}

.badge {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  margin-top: 8px;
}

.badge-yup {
  background-color: green;
}

.badge-kinda {
  background-color: orange;
}

.badge-nope {
  background-color: red;
}

.badge-default {
  background-color: gray;
}
