/* Styling the form to display each input on a new line */
form {
	gap: 10px;
	display: flex;
	margin-bottom: 20px;
	flex-direction: column;
	align-items: flex-start;
  }
  
  label {
    display: flex;
    flex-direction: column; /* Aligns the label text and input vertically */
    margin-bottom: 10px; /* Adds some space after each label for better spacing */
  }
  
  input[type="text"],
  input[type="color"],
  button {
    margin-top: 5px; /* Adds a little space between the label and the input */
  }
  